src/main/app/identifierupdateevents-denormalization-openmrsshr.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:context="http://www.springframework.org/schema/context" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <context:property-placeholder xmlns:context="http://www.springframework.org/schema/context" location="classpath:cr-shr-recon.properties, classpath:cr-shr-recon-override.properties"></context:property-placeholder>
    <flow name="identifier-update-events-denormalizationFlow1" doc:name="identifier-update-events-denormalizationFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="identifierUpdateEventsDenormalizationQueue" doc:name="VM"/>
        <logger message="Denormalizing identifierUpdateEvent message for the OpenMRS SHR" level="INFO" doc:name="Logger"/>
        <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Off-ramp Transformer"/>
        <message-properties-transformer doc:name="Add basic auth">
            <add-message-property key="Authorization" value="${shr.auth}"/>
        </message-properties-transformer>
        <message-properties-transformer scope="session" doc:name="Remember UUID">
            <add-message-property key="SplitMsgUUID" value="#[groovy:return payload.getUuid();]"/>
        </message-properties-transformer>
        <expression-transformer evaluator="groovy" expression="return message.payload.body;" doc:name="Transfor HTTPRestfulMessage to HTTP Body"/>
        <response>
            <logger message="Recieved response from OpenMRS SHR: #[groovy: message.toString();]]" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.rhea.transformers.HttpResponseToRestfulHttpResponseTransformer" doc:name="HttpResponseToRestfulHttpResponseTransformer"/>
	        <scripting:component doc:name="Set UUID">
	            <scripting:script engine="Groovy">
                    <scripting:text><![CDATA[payload.setUuid(sessionVars['SplitMsgUUID']); return payload;]]></scripting:text>
	            </scripting:script>
	        </scripting:component>
            <logger message="Response normalization" level="INFO" doc:name="Logger"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="On-ramp Transformer"/>
            <custom-transformer class="org.jembi.heal.DoNothingTransformer" doc:name="Translation Transformer"/>
        </response>
        <http:outbound-endpoint exchange-pattern="request-response" host="${shr.host}" port="${shr.port}" path="openmrs/ws/rest/RHEA/patient/identifier" responseTimeout="120000" contentType="text/xml" doc:name="Deliver message to OpenMRS SHR" method="PUT" encoding="UTF-8"/>
    </flow>
</mule>
